<div class="organizations_list">
	<h1>All Organizations:</h1>
		<table border="1">
			<thead>
				<tr class="columns_names">
					<th>Id</th>
					<th>Organization's Name</th>
					<th>Registration Number</th>
					<th>Date of Registration</th>
					<th>Owner</th>
					<th>Address</th>
					<th>Post Code</th>
					<th>Sphere of Activity</th>
					<th>Description of activity</th>
				</tr>
			</thead>
			<tbody>
			<tr *ngFor="let organization of organizations">
				<td>{{organization.id}}</td>
				<td>{{organization.organizationName}}</td>
				<td>{{organization.registrationNumber}}</td>
				<td>{{organization.dateOfRegistration}}</td>
				<td>{{organization.owner}}</td>
				<td>{{organization.address}}</td>
				<td>{{organization.postCode}}</td>
				<td>{{organization.sphereOfActivity}}</td>
				<td>{{organization.descripntionOfActivity}}</td>
			</tr>
			</tbody>
		</table>
		<p>
		<button (click)="goBack()">Back to Registration Form</button>
		</p>
	<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
</div>