<div class="container">
  <div [hidden]="submitted">
    <h1>Registration Form</h1>
    <form *ngIf="active" (ngSubmit)="saveOrganization()" #registrationForm="ngForm">
      <div class="form-group">
        <label for="organizationName">Organization's Name:</label>
        <input type="text" class="form-control" id="organizationName"
               required
               [(ngModel)]="model.organizationName" name="organizationName"
               #organizationName="ngModel" >
        <div [hidden]="organizationName.valid || organizationName.pristine" 
             class="alert alert-danger">
         Organization's Name is required
        </div>
        
        
      </div>
      
      <div class="form-group">
        <label for="registrationNumber">Registration Number:</label>
        <input type="text" class="form-control" id="registrationNumber"
               required
               [(ngModel)]="model.registrationNumber" name="registrationNumber"
               #registrationNumber="ngModel" >
        <div [hidden]="registrationNumber.valid || registrationNumber.pristine" 
             class="alert alert-danger">
         Registration Number is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="dateOfRegistration">Date of Registration:</label>
        <input type="date" class="form-control" id="dateOfRegistration"
               required
               [(ngModel)]="model.dateOfRegistration" name="dateOfRegistration"
               #dateOfRegistration="ngModel" >
        <div [hidden]="dateOfRegistration.valid || dateOfRegistration.pristine" 
             class="alert alert-danger">
          Date of registration is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="owner">Owner:</label>
        <input type="text" class="form-control" id="owner"
               required
               [(ngModel)]="model.owner" name="owner"
               #owner="ngModel" >
        <div [hidden]="owner.valid || owner.pristine" 
             class="alert alert-danger">
         Owner is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" class="form-control" id="address"
               required
               [(ngModel)]="model.address" name="address"
               #address="ngModel" >
        <div [hidden]="address.valid || address.pristine" 
             class="alert alert-danger">
          Organization's address is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="postCode">Post code:</label>
        <input type="text" class="form-control" id="postCode"
               required
               [(ngModel)]="model.postCode" name="postCode"
               #postCode="ngModel" >
        <div [hidden]="postCode.valid || postCode.pristine" 
             class="alert alert-danger">
          Post code is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="sphereOfActivity">Sphere of Activity:</label>
        <input type="text" class="form-control" id="sphereOfActivity"
               required
               [(ngModel)]="model.sphereOfActivity" name="sphereOfActivity"
               #sphereOfActivity="ngModel" >
        <div [hidden]="sphereOfActivity.valid || sphereOfActivity.pristine" 
             class="alert alert-danger">
          Sphere of Activity is required
        </div>
      </div>
      
     <div class="form-group">
		<label for="descriptionOfActivity">Description: </label>
		<textarea class="form-control" id="descriptionOfActivity" [(ngModel)]="model.descriptionOfActivity" name="descriptionOfActivity">Description of activity:</textarea>
	 </div>
	 
	 <p>
      <button type="submit"   [disabled]="!registrationForm.form.valid">Submit</button>
      <button type="button"  (click)="onReset()">Reset </button>
      <button type="button" (click)="goToList()">View All Organizations</button>
     </p>
    </form>
  </div>
  	<div [hidden]="!submitted">
	  <h2>Welcome to KindLink! Thank You for Your registration!</h2>
	  <br>
	  <button class="btn btn-default" (click)="goToForm()">Back To Registration Form</button>
	  <button class="btn btn-default" (click)="goToList()">View All Organizations</button>
	</div>
</div>